<h2>Introduction</h2>
    <p>   
        Introduction for fisheries science
        <%= link_to "...more","#"%>
    </p>

<h2>Wild Catch</h2>
    <p>   
        Explanation for basic fisheries management theory with the example of sardine.
        <%= link_to "...more","#"%>
    </p>

<h2>Aquaculture</h2>
    <p>   
        Designing aquaculture system for safe marine food.
        <%= link_to "...more","#"%>
    </p>

<h2>E-commerce</h2>
    <p>   
        Developping more effective e-commerce system for marine fish.
        <%= link_to "...more","#"%>
    </p>