<%= render "shared/login_form"%>

<h2>Latest News</h2>
<ul>
    <% 1.times do |i|%>
        <li><%= link_to "Designing E-commerce for sustainable marine food", "#"%></li>
    <%end%>
</ul>

<h2>Blog</h2>
<ul>
    <% 1.times do |i|%>
        <li><%= link_to "Database structure for traceability", "#"%></li>
    <%end%>
</ul>
